.switch {
  display: flex;
  position: relative;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 55px;
  height: 30px;
  appearance: none;
}

.switch__slider {
  position: absolute;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.switch__slider-F {
  top: 3px;
  left: 28px;
}

.switch__slider-C {
  top: 3px;
  left: 5px;
}

.switch__temp-f {
  position: absolute;
  top: -4px;
  left: 38px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Cabinet Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.switch__temp-c {
  position: absolute;
  top: -4px;
  left: 13px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Cabinet Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.switch__active {
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 635px) {
  .switch__box {
    width: 32px;
    height: 19px;
  }

  .switch__slider {
    width: 19px;
    height: 19px;
  }

  .switch__slider-F {
    left: 17px;
  }

  .switch__slider-C {
    left: 4px;
  }

  .switch__active {
    font-size: 11px;
  }

  .switch__temp-f {
    top: -1px;
    left: 26px;
    font-size: 9px;
  }

  .switch__temp-c {
    font-size: 9px;
    top: -1px;
    left: 9px;
  }
}
