.profile {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
}

.profile__sidebar {
  max-height: 56px;
  display: flex;
  gap: 16px;
  margin-right: 116px;
  align-items: center;
}

.profile__avatar {
  width: 56px;
  height: 56px;
}

.profile__name {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-wrap: nowrap;
}

.profile__clothes-section {
  margin-top: 10px;
}

.profile__menu-top {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
}

.profile__menu-title {
  margin: 0;
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.profile__addItems-button {
  color: rgba(0, 0, 0, 0.6);
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  background: #fff;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.profile__addItems-button:hover {
  opacity: 0.4;
}

.profile__item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (max-width: 899px) {
  .profile {
    padding: 0px 20px 0px 20px;
  }

  .profile__sidebar {
    margin-right: 40px;
  }

  .profile__avatar {
    width: 45px;
    height: 45px;
  }

  .profile__name {
    font-size: 15px;
  }

  .profile__menu-top {
    margin-bottom: 8px;
  }
  .profile__menu-title {
    font-size: 16px;
  }

  .profile__addItems-button {
    font-size: 16px;
  }
}

@media screen and (max-width: 635px) {
  .profile__item-list {
    gap: 8px;
    justify-content: center;
  }
  .profile__sidebar {
    margin-right: 10px;
    gap: 8px;
  }
  .profile__avatar {
    width: 37px;
    height: 37px;
  }
  .profile__menu-top {
    justify-content: center;
  }
}

@media screen and (max-width: 452px) {
  .profile__avatar {
    width: 25px;
    height: 25px;
  }
  .profile__name {
    font-size: 12px;
  }
  .profile__menu-top {
    gap: 7px;
  }

  .profile__menu-title {
    font-size: 13px;
  }
  .profile__addItems-button {
    font-size: 13px;
  }
}
