.weather {
    position: relative;
}

.weather__info {
    position: absolute;
    top: 12px; 
    left: 16px;
    max-height: 40px;
    max-width: 69px;
    color: #fff;
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
}

.weather__image {
    width: 100%;
}