.modal__container-image {
  max-width: 498px;
  max-height: 610px;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.modal__close-button-white {
  background-image: url(../../images/Modal-Close-Button-white.svg);
  position: absolute;
  top: 20px;
  right: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.modal__image-preview {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 498px;
}

.modal__item-name {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 20px;
  margin-left: 32px;
}

.modal__weather-type {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  margin-left: 32px;
  margin-top: 12px;
  margin-bottom: 32px;
}

.modal__delete-button {
  position: absolute;
  bottom: 68px;
  right: 32px;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: #ff4d00;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal__delete-button_visible {
  visibility: visible;
  position: absolute;
  bottom: 68px;
  right: 32px;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: #ff4d00;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal__delete-button_hidden {
  visibility: hidden;
  position: absolute;
  bottom: 68px;
  right: 32px;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: #ff4d00;
  border: none;
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 555px) {
  .modal__container-image {
    max-width: 90vw;
    max-height: 600px;
  }

  .modal__image-preview {
    max-width: 90vw;
  }
}

@media screen and (max-width: 450px) {
  .modal__container-image {
    max-height: 500px;
  }
  .modal__delete-button {
    bottom: 34px;
  }
}

@media screen and (max-width: 375px) {
  .modal__container-image {
    max-height: 440px;
  }

  .modal__delete-button {
    bottom: 54px;
  }
}

@media screen and (max-width: 375px) {
  .modal__delete-button {
    bottom: 16px;
    right: 89px;
  }
}
